body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #333;
    margin: 0;
    padding: 20px;
}
.cv-container{
    max-width: 900px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(red, green, blue, alpha);
    display: flex;
    border-radius: 8px;
    overflow: hidden;
}
.left-column{
    flex-basis: 40%;
    background-color: #3a3a3a;
    color: #f0f0f0;
    padding: 30px;
}
.right-column{
    flex-basis: 60%;
    background-color: #ffffff;
    padding: 30px;
}
.profile{
    text-align: center;
    margin-bottom: 20px;
}
.profile-pic-container{
    width: 120px;
    height: 120px;
    border-radius: 50px;
    overflow: hidden;
    margin: 0 auto 10px auto;
    border: 3px solid #ffffff;
    box-shadow: 0 0 5 px rgba(red, green, blue, alpha);
}
.profile-pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.left-column section{
    margin-bottom: 25px;
}
.left-column h3{
    border-bottom: 2px solid #888;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.skills-list{
    list-style: none;
    padding: 0;
}
.skills-list li{
    margin-bottom: 15px;
}
.skill-name{
    display: block;
    margin-bottom: 5px;
}
.skill-bar{
    background-color: #555;
    border-radius: 5px;
    height: 10px;
    overflow: hidden;
}
.skill-level{
    background-color: #f0f0f0;
    height: 100%;
    border-radius: 5px;
}
.header h1{
    font-size: 2.5em;
}
.header .title{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.header .title span{
    font-size: 1.0em;
}
.header .title::after{
    content: '';
    flex-grow: 1;
    height: 1px;
    background-color: #555;
    margin-left: 15px;
}
.right-column h3{
    color: #333;
    padding-bottom: 5px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 1.3em;
}
.right-column h3::after{
    content: '';
    flex-grow: 1;
    height: 1px;
    background-color: #555;
    margin-left: 15px;
}
.education-item, .experience-item{
    margin-bottom: 20px;
}
.education-item p, .experience-item p{
    font-size: 0.95em;
}
